.footerlinks {
    color: black; 
    text-decoration:none; 

}

.footerlinks:hover{
    color: cornflowerblue; 
}

#footer1 {
    background-color: #e6e6fa;
}
#footer2{
    background-color: orchid; 
}